@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    
}
.navbar-brand{
    font-family: 'IM Fell English SC', serif;

}
.card{
    box-shadow: 0 3px 10px 0 #aaa;
}

.card-icons{
    font-size: xx-large
}

.buttons{
    background-color: rgb(47, 138, 218);
    color: white;
    display: flex;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.our-services {
    margin-top: 60px;
    padding-bottom: 30px;
    padding: 0 60px;
    min-height: 198px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
    margin-bottom: -21px;
    transform: translateY(-50%);
    text-align: center
}

.our-services:hover h4,
.our-services:hover p {
    color: #fff
}

.tests:hover, .labs:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #ea7055 0%, #f0b079 100%)
}

.treatments:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #8de0e6 100%)
}

.enquiry:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #05499d 0%, #62b0f4 100%)
}

.create-record:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #ed7591 0%, #efa695 100%)
}

.doctors:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #0d917b99 0%, #b5e6d7 100%)
}
a{
    color: rgba(0, 0, 0, 0.852);
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
  }
  
p{
    color: rgba(0, 0, 0, 0.654);
}


input[type=text] {
    padding: 10px;
    margin: 10px 10px 20px 10px;
    border:0;
    box-shadow:0 0 10px -2px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 100%;
  }


  input[type=submit] {
    background-color: #6f57c7;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius:5px;
    margin: 10px 2px 4px 10px;
    cursor: pointer;
  }